*{
box-sizing: border-box;
}
.container{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 15vh;

}
.card-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 70vw;
    min-width: 20vw;
    flex-direction: row;
   justify-content: flex-start;
   gap: 10px;
 
  
}
.card{
    background-color: rgb(204, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    flex: 0;
    min-width: 200px;
    min-height: 150px;
   
}