.container-cards{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    
}
.align-container{
    margin-top: 30px;
}
.header-c{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}
.item1{
display: flex;
flex: 1;
justify-content: start;
font-size: 30px;
font-weight: bold;
}
.item2{
display: flex;
flex: 1;
gap: 10px;
justify-content: end;
}
.b{
    border-radius: 60px;
}

.cards-c{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
max-width: 90vw;
min-width: 90vw;
gap: 20px;

}
.card1{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    height: 200px; /* altura fija, puedes ajustarla */
    border-width: 5px;
    border-style: groove;
    border-color: rgb(175, 179, 179);
    background-color: rgb(68, 68, 68);
    color: white;
}
.card1 > * {
    flex: 1 1 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card1 p{
    color: rgb(192, 190, 190);
}